*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	width: 75%;
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
}

.btn {
	font-size: 4rem;
	margin: 1rem 2rem;
	cursor: pointer;
}

.results > h2 {
	margin: 2rem auto;
}
